.slds-dueling-list__column {
  display: flex;
  justify-content: center;
}

#selected-list-label-65 {
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px;
}

#source-list-label-65 {
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px;
}

#source-list-label-78 {
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px;
}
#selected-list-label-78 {
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px;
}
#source-list-label-95 {
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px;
}
#selected-list-label-95 {
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px;
}
#source-list-label-104 {
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px;
}

#selected-list-label-104 {
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px;
}

#source-list-label-102{
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px
}

#selected-list-label-102{
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px
}

#source-list-label-111{
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px
}

#selected-list-label-111{
  font-size: medium;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 5px
}

#group-label-95 {
  width: 580px;
  padding-left: 100px;
}

#group-label-104 {
  width: 480px;
  padding-right: 82px;
}
.slds-form-element__label, .slds-no-flex{
  font-size: small;
  /* margin-left: 2px; */
  font-weight: bold;
  margin-bottom: 2px;
}

/* to color the left and right arrows in lightning dual listbox */
.slds-button_icon-container{
  color: red;
}

.slds-m-vertical_xx-large, .slds-m-vertical--xx-large{
  margin: 0;
}

.slds-gutters{
  margin: 0;
}
.slds-dropdown-trigger{
    display : flex;
    }