.mainDiv{
    /* overflow-x: hidden; */
    /* width: 95%; */
    margin-left: 50px;
    margin-top: 50px;
}

.textp{
    display: flex;
    align-items: center;
}
.datediv{
    width: 52rem;
}
.cvDiv{
    background-color: #F6F6F6;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input{
    display: flex;
}

.docDiv{
    /* margin-left: 4rem; */
    /* margin-left: 20px; */
}

.combox{
    display: flex;
    /* font-weight:400; */
    font-size:12px;
}

.btns{
    display: flex;
    height: 25%;
    align-content: center;
    text-align: center;
    display: flex;    
    font-weight: 600;
    font-size: 17px;
    color: white;
    justify-content: inherit;
    align-items: center;
}
.iPadbtns{
    display: none;
}
.t1{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.t2{
    
    font-style: normal;
    font-weight: 700;
    font-size: 31.5px;
    line-height: 37px;
    color: #D90000;
}

.saveBtn{
    font-weight: 500;
    background: #676868;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.saveBtn img{
    width: 17px;
    height: 18px;
    margin: -2px 10px 0 0px;
}
.saveBtn:hover{
    cursor: pointer;
}
.cancelBtn:hover{
    cursor: pointer;
}
.cancelBtn{
    font-weight: 500;
    background: #D90000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cancelBtn img {
    width: 18px;
    height: 18px;
    margin: 0px 3px 0 2px;
}

.fileInputBox{
    display: block;
    border: 1px dashed black;
    height: 6rem;
}
.dropzone {
    position: relative;
}

.dropzone.hover {
    border: 10px solid #FE5;
    color: #FE5;
}

.dropzone.dropped {
    background: #222;
    border: 10px solid #444;
}

.dropzone div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone img {
    border-radius: 10px;
    vertical-align: middle;
    max-width: 95%;
    max-height: 95%;
}

.dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cvData {
    display: block;
    height: 3rem;
    margin: 1rem auto;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    padding: 0.5rem;
    font-size: 20px;
}

.cvData img {
    height: 24px;
    margin: 4px 0 4px 0;
    float: right;
    cursor: pointer;
}

/* =================== Spinner =================== */
 
.spinner-center {
    display: flex;
    align-items: center;
    justify-content: center;
 }
  
 .spinner-ts {
    --size: 85px;
  
    width: var(--size);
    height: var(--size);
  
    border-radius: 50%;
    perspective: 800px;
 }
  
 .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
 }
  
 .inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #999999;
 }
  
 .inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #000000;
 }
  
 .inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #d90000;
 }
  
 @keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
  
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
 }
  
 @keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
  
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
 }
  
 @keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
  
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
 }
  
 /* =================== Spinner =================== */

 @media(min-width: 1025px) AND (max-width: 1206px) {

    .cancelBtn{
        width: 29% !important;
    }
 }

 @media(max-width: 1024px) {
    .btns {
        display: none !important;
    }
    .iPadbtns {
        display: flex;
        justify-content: center;
        font-weight: 500;
        font-size: 17px;
        align-items: center;
        color: white;
        /* margin: 30px 0; */
    }
    .saveBtn{
        width: 27px;
        height: 27px;
    }
    .cancelBtn{
        width: 27px;
        height: 27px;
        padding-left: 3px;
    }
    .cancelBtn img{
        width: 15px;
        height: 19px;
        margin-left: 3px;
        /* margin: -3px 13px 0 3px; */
    }
    .saveBtn img{
                
        width: 15px;
        height: 19px;
        margin-left: 6px;
        margin-top: 0px;
        /* margin: 0px 3px 3px 3px; */
    }
    .cancelBtn {
        
        margin-left: 20px;
    }
    .tabDiv hr {
        margin: 1rem 4rem 1rem 0rem;
    }
    .profileTitle {
        width: 100%;
    }
    /* .mainDiv .slds-size_2-of-12 {
        width: 25%;
    } */
    .tabDiv .slds-size_9-of-12 {
        width: 66%;
    }
    .slds-file-selector__body_integrated {
        margin-left: 2rem;
    } 

    .seekDiv{
        width: 33%;
    }

    .docDiv{
        width: 66%;
    }

    .idDiv{        
        display: block;
    }
    .group2adiv{
        width: 75%;
    }
    .group2bdiv{
        width: 75%;
    }
    .cvData {
        margin: 1rem 0 1rem 2rem;
    }
}

@media screen and (max-width: 767px) {
    
    .mainDiv{
        margin-top: 30px !important;
        margin-left: 0px !important;
    }
    .mainTextDiv{
        width: 59% !important;
    }

    .t2{
        font-size: 21.5px;
    }

    .cvDiv{
        margin-left: 1rem !important;
    }

    .mainTextDiv{
        margin-left: 1rem !important;
    }
    .mbCv{
        width: 95% !important;
    }
    .mnDiv{
        margin-left: 1rem !important;
    }
    .textp{
        width: 45% !important;
    }
    .docDiv{
        margin-left: 1rem !important;
        width: 90%;
    }
    .wpdate{
        margin-left: 1rem !important;
    }
    .combox{
        margin-left: 1rem !important;
        width: 85% !important;
    }
    .mobWid{
        width: 85% !important;
    }
    .l-input{
        margin-left: 2rem !important;
    }
    .seekDiv{
        width: 60% !important;
    }
    .duelSize{
        width: 90% !important;
    }
    .group2adiv{
        width: 100%;
    }
    .group2bdiv{
        width: 100%;
    }
    .cvData {
        margin: 1rem 0 1rem 1rem;
    }
    .prfdiv{
        margin-left: 0.5rem !important;
    }
    .cvImg{
        margin-right: 0 !important;
    }
}