.textp{
    display: flex;
    align-items: center;
}
.datediv{
    width: 52rem;
}
.cvDiv{
    background-color: #F6F6F6;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input{
    display: flex;
}

.docDiv{
    /* margin-left: 4rem; */
    margin-left: 20px;
}

.combox{
    display: flex;
}

.btns{
    display: flex;
    height: 25%;
    align-content: center;
    text-align: center;
    display: flex;
    font-family: Raleway;
    font-weight: 600;
    font-size: 17px;
    color: white;
    justify-content: inherit;
    align-items: center;
}

.t1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.t2{
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 31.5px;
    line-height: 37px;
    color: #D90000;
}

.saveBtn{
        
    background: #676868;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.saveBtn:hover{
    cursor: pointer;
}
.cancelBtn:hover{
    cursor: pointer;
}
.cancelBtn{
    
    background: #D90000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}