.textp{
    display: flex;
    align-items: center;
}
.datediv{
    width: 52rem;
}
.cvDiv{
    background-color: #F6F6F6;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input{
    display: flex;
}

.docDiv{
    /* margin-left: 4rem; */
    margin-left: 20px;
}

.combox{
    display: flex;
}

.btns{
    display: flex;
    height: 25%;
    align-content: center;
    text-align: center;
    display: flex;
    font-family: Raleway;
    font-weight: 600;
    font-size: 17px;
    color: white;
    justify-content: inherit;
    align-items: center;
}

.t1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.t2{
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 31.5px;
    line-height: 37px;
    color: #D90000;
}

.saveBtn{
        
    background: #676868;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.saveBtn:hover{
    cursor: pointer;
}
.cancelBtn:hover{
    cursor: pointer;
}
.cancelBtn{
    
    background: #D90000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* =================== Spinner =================== */
 
.spinner-center {
    display: flex;
    align-items: center;
    justify-content: center;
 }
  
 .spinner-ts {
    --size: 85px;
  
    width: var(--size);
    height: var(--size);
  
    border-radius: 50%;
    perspective: 800px;
 }
  
 .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
 }
  
 .inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #999999;
 }
  
 .inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #000000;
 }
  
 .inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #d90000;
 }
  
 @keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
  
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
 }
  
 @keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
  
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
 }
  
 @keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
  
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
 }
  
 /* =================== Spinner =================== */