.main-contact{
      background-color: white;
      
}
.main_div{
      height: 80%;
      padding: 60px 0 0 60px;
      display:flex ;
      background-image: url('/resource/map_contactus');
      background-size: 100% 80%;
      background-repeat: no-repeat;
}
.contact-footer{
      height: 20%;
      margin-top: 50px;
}
.map_img{
      width: 60%;
      background-size:cover;
      background-repeat: no-repeat;
      height: 80%;
      display: flex;
}
.map_img h1{
      font-size: 37px;
      font-weight: bolder;
      color: rgba(210, 35, 42, 1);
}
.map_img p{
      font-size: 22px;
      padding: 10px 0;
      color: rgba(0, 0, 0, 0.65);
}
.contact-detail{
      width: 70%;
      display: flex;
}
.contact-footer{
      display: flex;
      align-items: unset;
      justify-content: center;
      align-items: baseline;
      justify-content: space-around;
      padding: 0 2% 0 6%;
}
.contact-footer h1{
      color: rgba(210, 35, 42, 1);
      font-size: 24px;
      margin-bottom: 12px;
}
.contact-footer p {
      margin: 8px 0;
      color: black;
      font-weight: 700;
}
.send-button{
      text-align: end;
      padding-bottom: 15px;
}
.con-label {
      font-size: 22px;
}
.message{
      display: block;
      margin-top: 5%;
}
.message p{
      font-size: 16px;
}
.contact-no{
      display: block;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: -webkit-center;
}
.send-button{
      margin: 15px 0;
}
.button button{
      padding: 10px;
      width:30px; 
      height:12px;
}
.slds-button{
      width: 65%;
}
.contact-address img{
      height: 16px;
      width: 21px;
}
.contact-location img{
      height: 32px;
      width: 24px;
}
.contact-location p, .contact-no p{
      margin: 0;
}
.slds-input input{
      border: none !important;
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      border-radius: 0%;
      border: 1px solid black;
}

.con_touch{
      padding:50px 0 50px 50px ; 
      margin:10% 0 10% 4%;
}

.con_info{
      top: 60px;
      width: 40%;
}

.con_info h5{
      font-size:16px; 
      font-weight:500;
}

.con_info_div2{
      padding: 15px;
}

.con_info_div{
      background-color: rgba(246, 246, 246, 1); 
      box-shadow: 0px 0px 4px #beb7b7; 
      border-radius: 3px;
      width: 80%;
      height: 100%;
}

.con_add{
      display: flex;
}

.contact-location{
      width: 25%;
}
.contact-address{
      width: 25%;
}
.contact-no{
      width: 30%;
}

.con_info{
      font-weight: bold;
}

@media(max-width:1800px) and (min-width:1500px){
      .message{
            margin-top: 7%;
      }
}

@media (max-width:1024px){
      .main-contact{
            background-color: white;
            margin: 60px 0 0 0;
      }
      .main_div{
            height: 80%;
            padding: 0;
            display: block;
            background-size: 100% 50%;
      }
      .map_img{
            width: 100%;
      }
      .contact-footer{
            height:15%;
            justify-content: space-around;
            padding: 0 2% 0 6%;
            margin-top: 0;
            width: 100%;
      }
      .con_touch{
            padding: 0;
            margin: 12% 12%;
      }
      .con_info{
            width: 100%;
      }

      .con_info_div{
            width: 60%;
            margin: 0 20%;
      }
      .map_img{
            height: 45%;
      }

      .map_img h1{
            font-size: 55px;
      }

      .map_img p{
            font-size: 26px;
      }

      .contact-no img{
            width: 100%;
            height: 44%;
      }

      .con-label{
            margin: 15px 0;
      }
      .con-label p{
            font-size: 16px;
      }

      .contact-address{
            margin: 0 0%;
      }

      .con_info h5{
            font-size: 22px;
      }

      .con_info p{
            font-size: 20px;
      }
      .contact-footer{
            margin-top: 30px;
      }
      .contact-footer h1{
            font-size: 28px;
      }
      .contact-footer p{
            font-size: 18px;
      }
}

@media (max-width:820px){
      .con_info{
            top: 28%;
      }
      .message{
            margin-top: 3%;
      }
      .contact-footer h1{
            font-size: 22px;
      }
      .contact-footer p{
            font-size: 17px;
      }
}

@media (max-width:768px){
      .main_div{
            height: 85%;
            padding: 0;
      }
      .contact-footer{
            height:15%;
            justify-content: space-around;
            padding: 0 2% 0 6%;
      }
      .con_touch{
            padding: 0;
            margin: 7% 8%;
      }
      .message{
            margin-top: 4%;
      }
      .con_touch h1{
            font-size: 45px;
      }
      .con_touch p{
            font-size: 20px;
      }
      /* .con_info{
            top: 25%;
            width: 50%;
            margin: 0 25%;
      } */
      .con_info_div{
            width: 70%;
            margin: 0 15%;
      }
      .map_img{
            height: 45%;
      }

      .map_img h1{
            font-size: 45px;
      }

      .map_img p{
            font-size: 20px;
      }

      .contact-no img{
            width: 100%;
            height: 44%;
      }

      .con-label{
            margin: 15px 0;
      }

      .contact-address{
            margin: 0 0%;
      }
      

      .con_info h5, .con_info p{
            font-size: 20px;
      }

      .send-button button, .slds-button{
            width: 160px;
            height: 50px;
      }

      .contact-footer h1{
            font-size: 17px;
      }
      .contact-footer p{
            font-size: 13px;
      }
}

@media (max-width:610px){
      .con_info h5, .con_info p{
            font-size: 18px;
      }
      .contact-footer h1{
            font-size: 16px;
      }
      .contact-footer p{
            font-size: 10px;
      }
      .con_info_div{
            width: 80%;
            margin: 0 10%;
      }
}

@media (max-width:480px){
      .contact-footer h1{
            font-size: 14px;
      }
      .contact-footer p{
            font-size: 8px;
      }
}

@media (max-width:430px){
      .map_img h1{
            font-size: 27px;
      }
      .map_img p{
            font-size: 16px;
      }
      .con_info h5, .con_info p{
            font-size: 14px;
      }
      .contact-footer h1{
            font-size: 12px;
      }
      .contact-footer p{
            font-size: 7px;
      }
      
}

/* =================== Spinner =================== */

.spinner-center {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .spinner-ts {
      --size: 85px;
  
      width: var(--size);
      height: var(--size);
  
      border-radius: 50%;
      perspective: 800px;
  }
  
  .inner {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid transparent;
  }
  
  .inner.one {
      left: 0;
      top: 0;
      animation: rotate-one 1s linear infinite;
      border-bottom: 3px solid #999999;
  }
  
  .inner.two {
      right: 0;
      top: 0;
      animation: rotate-two 1s linear infinite;
      border-right: 3px solid #000000;
  }
  
  .inner.three {
      right: 0;
      bottom: 0;
      animation: rotate-three 1s linear infinite;
      border-top: 3px solid #d90000;
  }
  
  @keyframes rotate-one {
      0% {
          transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
      }
  
      100% {
          transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
      }
  }
  
  @keyframes rotate-two {
      0% {
          transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
      }
  
      100% {
          transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      }
  }
  
  @keyframes rotate-three {
      0% {
          transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      }
  
      100% {
          transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      }
  }
  
  /* =================== Spinner =================== */