.textp {
    display: flex;
    align-items: center;
}

.upPass,
.canceltext {
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.upPass {
    background-color: #676868;
}

.canceltext {
    background-color: #D90000;
}

.upPass img {
    margin: 3px 7px 0 0;
}

.canceltext img {
    margin: 3px 8px 0 0;
}

.passwordDiv hr {
    margin: 1rem 6rem;
    border-color: rgba(0, 0, 0, 0.4);
}