.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    overflow: hidden;
    /* background-image: url(https://supplydesk--mvcdev--c.visualforce.com/resource/1656478070000/LoginPageImage?); */
    /* background-image: url('/resource/bgimage');; */
    background-repeat: no-repeat;
    background-size: cover;

}
.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.logo_cls {
	position: absolute;
	top: 45%;
	width: 42%;
	display: flex;
	justify-content: center;
    margin: 0 4%;
}

.signin-signup {
    position: absolute;
    top: 50%;
    left: 75%;
    /* transform: translate(-50%, -50%); */
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    /* transition: 1s 0.7s ease-in-out; */
	border-left: 1px solid black;
}

.sign-in-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* transition: 0.2s 0.7s ease-in-out; */
}

.sign-in-form .sign-in-form {
    z-index: 2;
}

.sign-in-form .sign-up-form {
    z-index: 1;
    opacity: 0;
}

/* MODAL */

.title {
    font-family: 'Raleway';
    font-size: 40px;
    color: #000000;
    margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

.subtitle {
    font-family: 'Raleway';
    font-size: 22px;
    color: #000000;
}

.input-field {
    height: 45px;
    margin: 10px 0;
    /* display: grid;
    grid-template-columns: 15% 70% 15%; */
    display: flex;
    padding: 0 0.4rem;
    background: #fdfbfe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	/* border-radius: 15px; */
    background: #D9D9D9;
}

.input-field img {
	display: flex;
	margin: auto;
	border-right: 1px solid black;
	padding-right: 10px;
    height: 75%;
}

.pass {
    margin: 12px 0;
    color: var(--pass-color);
}

.pass:hover {
    color: var(--pass-hover-color);
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--input);
}

.input_cls {
    margin: auto 0;
    width: 100%;
}

.input-field input::placeholder {
    color: var(--input-hover);
    font-weight: 500;
}

.btn_cls {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
    cursor: pointer;
    padding: 3% 10%;
    width: 150px;
    font-size: 20px;
    background: #2196F3ED;
}

/* ANIMATION */

/* .container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .content,
.container.sign-up-mode .right-panel .image {
    transform: translateX(0px);
}

.container.sign-up-mode .left-panel {
    pointer-events: none;
}

.container.sign-up-mode .right-panel {
    pointer-events: all;
}

.container.sign-up-mode .signin-signup {
    left: 25%;
}

.container.sign-up-mode .sign-in-form .sign-in-form {
    z-index: 1;
    opacity: 0;
}

.container.sign-up-mode .sign-in-form .sign-up-form {
    z-index: 2;
    opacity: 1;
} */
@media (max-width: 1024px){
    .logo_cls {
        position: absolute;
        top: 16%;
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 0 10%;
    }

    .signin-signup {
        position: absolute;
        top: 60%;
        left: 0;
        transform: translate(-50%, -50%);
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        z-index: 5;
        margin: 0 50%;
        /* transition: 1s 0.7s ease-in-out; */
        border-left: 0px solid black;
    }

    .sign_in{
        width: 100%;
    }

    .sign_in h2{
        font-size: 90px;
    }

    .sign_in p{
        font-size: 35px;
    }

    .sign_in a{
        font-size: 25px;
    }

    .input-field{
        height: 60px;
        margin: 30px 0;
    }

}

@media (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;
    }

    .container::before {
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        /* transition: 2s ease-in-out; */
    }

    .signin-signup {
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        /* transition: 1s 0.8s ease-in-out; */
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }

    .container:before {
        bottom: 75%;
        left: 50%;
    }

    .container.sign-up-mode:before {
        bottom: 24%;
        left: 50%;
    }
}

/* =================== Spinner =================== */

.spinner-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-ts {
    --size: 85px;

    width: var(--size);
    height: var(--size);

    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
}

.inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #999999;
}

.inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #000000;
}

.inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #d90000;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* =================== Spinner =================== */