.textp {
    text-align: center;
    align-items: center;
    display: inherit;
    /* font-family: 'Raleway'; */
    font-size: 16px;
}

.saveBtn {
    background-color: #676868;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
}

.cancelBtn {
    background-color: #C50E1B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
}

.prof-avtr-div {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btns {
    display: flex;
    height: 25%;
    align-content: center;
    text-align: center;
    /* display: flex; */
    /* font-family: Raleway; */
    /* font-weight: 600; */
    font-weight: 500;
    font-size: 17px;
    color: white;
    justify-content: inherit;
    align-items: center;
}

.t1 {
    color: #676868;
    /* font-family: 'Raleway'; */
    font-style: normal;
    font-weight: 400;
    /* font-size: 20px; */
    font-size: large;
}

.t2 {
    font-size: 25px;
    color: #D90000;
    font-style: normal;
    font-weight: 700;
}

.t3 {
    color: black;
    font-style: normal;
    font-weight: 400;
    /* font-family: 'Raleway'; */
    font-size: large;
}

.textp1 {
    align-items: center;
    display: inherit;
    /* font-family: 'Raleway'; */
    font-size: 16px;
}

.profImg {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

.cvDiv {
    background-color: #F6F6F6;
}

.fileInputBox {
    display: block;
    border: 1px dashed black;
    height: 6rem;
}

.cvSec {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.cvImg {
    width: 2%;
    /* margin-right: 1rem;
    padding-bottom: 5px; */
}

.detailDiv {
    padding-bottom: 8rem;
}

.profileTopDiv {
    margin-top: 80px;
}