.slds-modal__content {
    overflow: initial;
}

.scheduler-main-div {
    margin-top: 5%;
    margin-left: 65px;
    background: #FFFFFF;
}

.op-header {
    background: #d90000;
    color: white;
}


.top-div {
    display: flex;
    justify-content: space-around;
    min-height: 100px;
    height: 15vh;
}

.top-available-div {
    background: rgb(250, 231, 202);
}

.top-not-wrkng-div {
    background: rgb(237, 228, 246);
}

.top-wfa-div {
    background: rgb(203, 227, 245);
}

.wkly-tsk {
    color: #D90000;
    font-weight: 700;
    font-size: 2em;
}

.right-ttl {
    color: #D90000;
    font-weight: 700;
    font-size: 2em;
    margin-top: 5%;
    margin-left: 2%;
}

.tpd {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 22%;
    height: 60%;
    min-height: 75px;
    font-size: large;
    font-weight: 700;
    font-style: normal;

}





.eventDiv {
    height: 5%;
    background-color: antiquewhite;
    min-width: 15%;
    min-height: 50px;
    text-align: center;
}

.left-div {
    /* border-right: solid black 1px; */
    border-right: 1px solid rgba(103, 104, 104, 0.6);
}

.calender-div {
    border-top: 1px solid rgba(103, 104, 104, 0.6);
    padding: 3%;

    /* background: #F6F6F6;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px; */
}

.right-div {
    background: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    height: 144vh;
}

.date-div {
    display: flex;
    align-items: center;
    height: 7vh;
}

.date-show {
    font-size: x-large;
    font-weight: 700;
    font-style: normal;
    margin-left: 2%;
}

.event-count {
    color: #5d5f5f;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    margin-left: 1%;

}

.evnt-title-dur {
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    height: 5vh;
    width: 25vw;
    margin-left: 2%;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2vw;
}

.evnt-ttl {
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: #000000;
}

.evnt-dur {
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: rgba(103, 104, 104, 0.78);
}

.evnt-strt-time {
    font-weight: 600;
    font-style: normal;
    font-size: large;
    color: #000000;
}

.evnt-dot {
    background: rgba(197, 14, 27, 1);
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border-radius: 5px;
}

.evnt-time {
    display: flex;
    align-items: center;
    height: 5vh;
    margin-left: 2%;
}

.evnt-block {
    height: 12vh;
    padding-top: 2%;
}


/* Small Mobile */
@media only screen and (min-width: 300px) and (max-width: 380px) {}

/* Mobile View */
@media screen and (max-width: 767px) {}

/* IPAD VIEW */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .right-div {
        display: none;
    }

}