.main {
    height: 100vh;
    width: 100%;
}

.top-header {
    height: 8%;
    display: flex;
    border-bottom: 0.5px solid rgba(103, 104, 104, 0.6);
    align-items: center;
}

.client-details-div {
    height: 92%;
    margin-inline: 2%;
}

.back-navigation {
    height: 7%;
    font-size: large;
    font-weight: 700;
}

.top-header h1 {
    color: rgb(217, 0, 0);
    font-size: x-large;
    font-weight: 700;
    margin-inline: 1%;
}

.approve-btn {
    background-color: rgb(103, 104, 104);
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 10%;
    cursor: pointer;
    height: 60%;
    display: flex;
    align-items: center;
    margin-inline: 1%;
    margin-left: 50%;
    padding-inline: 15px;
    font-size: larger;
}

.reject-btn {
    background-color: rgb(217, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 10%;
    cursor: pointer;
    height: 60%;
    display: flex;
    align-items: center;
    padding-inline: 15px;
    font-size: larger;
}

.top-header-btn-icon {
    margin-right: 5px;
}

.user-information {
    background: rgb(246, 246, 246);
    height: 23%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-information-table {
    height: 100%;
}

.cndt-profile {
    border-right: 0.5px solid rgba(103, 104, 104, 0.6);
    height: 100%;
}

.cndt-info {
    padding: 2%;
}

.week-table {
    margin-top: 1%;
    height: 70%;
}

.first-row {
    background: rgb(246, 246, 246);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 40px;
    align-items: center;
}

.popup-header {
    background: rgb(217, 0, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-body {
    text-align: center;
}

.reason-div {
    background: rgb(246, 246, 246);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100px;
    box-shadow: 5px 0px 0px 0px inset rgb(217, 0, 0);
    padding: 15px;
}

.send-btn {
    background: rgb(217, 0, 0);
    color: white;
    margin-top: 5%;
    width: 20%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.pop-apprv-ttl {
    color: rgb(217, 0, 0);
    font-size: x-large;
    font-weight: 700;
}

.pop-apprv-rsn-div {
    margin-top: 1%;
    height: 15vh;
    padding-top: 6%;
}

.pop-apprv-sbm-btn {
    background-color: rgb(103, 104, 104);
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 20%;
    cursor: pointer;
    /* height: 60%; */
    height: 34px;
    display: flex;
    align-items: center;
    margin-inline: 0% 5%;
    padding-inline: 15px;
    font-size: larger;
}

.pop-rjct-sbm-btn {
    background-color: rgb(217, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 20%;
    cursor: pointer;
    /* height: 60%; */
    height: 34px;
    display: flex;
    align-items: center;
    padding-inline: 15px;
    font-size: larger;
}

.pop-apprv-footer-btn {
    display: flex;
    margin-top: 1%;
    height: 10vh;
    align-items: center;
    justify-content: flex-end;
}

.pop-apprv-rating-div {
    height: 20vh;
    padding-top: 6%;
}

.emg-excel {
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(8, 171, 5, 0.68);
}

.emg-very-good {
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(133, 255, 75, 0.68);
}

.emg-good {
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(249, 200, 28, 0.68);
}

.emg-ri {
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(252, 93, 4, 0.68);
}

.emg-unsetisfy {
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(252, 0, 0, 0.68);
}

.pop-apprv-header {
    padding-top: 4%;
    height: 10vh;
}