.success_outer, .error_outer{
    background-color: white;
    box-shadow: 1px 2px 4px 0px #888888;
}

.success_inner{
    margin: 0 12px;
    --sds-c-icon-color-foreground: green;
}

.error_inner{
    margin: 0 12px;
    --sds-c-icon-color-foreground: red;
}

.tost_message h1{
    font-size: 22px !important;
    color: black;
}
.tost_message h2{
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.5); 
}
.close_btn{
    margin: 11px;
}