body {
    background-color: red !important;
    min-height: 100vh;
    overflow: hidden;
    background-image: url(https://supplydesk--mvcdev--c.visualforce.com/resource/1656478070000/LoginPageImage?);
    /* background-image: url('/resource/bgimage');; */
    background-repeat: no-repeat;
    background-size: cover;
}